<div class="row">
    <div class="col s12 m4">
        <a routerLink="/payment">
            <div class="card-panel hoverable green darken-4 valign-wrapper">
                <span class="white-text">
                    <i class="center-align material-icons large ">payment</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Payments</h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/refund">
            <div class="card-panel hoverable blue-grey valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">replay</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Refund</h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/dashboard">
            <div class="card-panel hoverable orange valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">view_list</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Stock</h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/notes">
            <div class="card-panel hoverable cyan darken-4 valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">note_add</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Notes</h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/reminder">
            <div class="card-panel hoverable brown valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">schedule</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Reminder</h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/dashboard">
            <div class="card-panel hoverable teal valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">email</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Mails</h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/dashboard">
            <div class="card-panel hoverable pink valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">perm_contact_calendar</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Calender</h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/dashboard">
            <div class="card-panel hoverable deep-orange valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">group</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Employees </h6>
                </span>
            </div>  
        </a>
    </div>

    <div class="col s12 m4">
        <a routerLink="/settings">
            <div class="card-panel hoverable light-blue valign-wrapper">
                <span class="white-text">
                    <i class="center material-icons large">settings</i>
                </span>
                <span class="white-text">
                    <h6 style="padding-left: 5px;"> Settings </h6>
                </span>
            </div>  
        </a>
    </div>
</div>