<div class="row">
    <div class="col s12">
        <div class="card-panel grey lighten-4">
            <div class="row">
                <h5 class="center-align">Fill Cart </h5>
            </div>

            <div class="row">
                <div class="input-field col s6 m4">
                    <input id="new_item" type="text" class="validate">
                    <label for="new_item">Item</label>
                </div>
                <div class="input-field col s6 m2">
                    <input id="new_item_qty" type="text" class="validate">
                    <label for="new_item_qty">Quantity</label>
                </div>
                <div class="input-field col s6 m4">
                    <a class="btn waves-effect waves-light orange accent-2"><i class="material-icons">shopping_cart</i></a>
                </div>
            </div>
            <div class="row">
                <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
            </div>

            <div class="row">
                <div class="col s6">
                    <table>
                        <tbody>
                            <tr>
                                <td>Item count</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Total price</td>
                                <td>$3.76</td>
                            </tr>
                        </tbody>
                    </table>
                            
                </div>
            </div>

            <div class="row right-align">                            
                <a routerLink="/dashboard" class="btn waves-effect waves-light grey" target="_self">Cancel<i class="material-icons right">cancel</i></a>
                <a routerLink="/payment" class="btn waves-effect waves-light green darken-3" >Payment<i class="material-icons right">skip_next</i></a>
            </div>

        </div>
    </div>
</div>